.container {
  margin: 0 auto;
  width: 768px;
  padding: 0px 20px 20px 20px;
  border-radius: 10px solid black;
  border: 10px solid rgba(0, 255, 67, 0.62);
}
#win{
  float: right;
}

header {
  background-color: black;
}
#Player2{
  border-top: 1px solid black
}
#logo {
  display: block;
  margin: 0 auto;
}
table tr {
  width: 100%;
  padding: 200px;
  text-align: center;
}
table td{
  padding-top: 10px;
  padding-bottom: 10px;
}
#main-title {
  text-align: center;
}
.table{
  border: 3px solid black;
}
table strong{
  text-align: center;
}
#counter{
  display: none;
}
button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.buton{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.buton:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.table td {
  background-color: white;
  height: 20px;
  width: 20px;
}

.table td.active {
  background-color: blue;
  border-right: 0 !important;
  }
.active{
  background-color: black;
  border-right: 0 !important;
}/*Este codigo de css es para indicar
que solo a el hijo #90 de cada td 
dentro de .table le agregue un backgroun
de cierto color*/
.table td:nth-child(90) {
  background-color: rgba(255, 0, 0, 0.30);
}

